@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@font-face {
  font-family: 'Obveron';
  src: url('../public/font/ObveronFont.ttf') format('truetype');
}

/* GLOBAL CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LANDING SECTION */

.landing-section {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  /* background-image: linear-gradient(-120deg, #6e6118 0%, #45044b 100%); */
  background-color: #1a7a78;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing-bg {
  background-image: url('../public/images/landing.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  z-index: -1;
  opacity: 0.2;
}

.landing-content {
  position: relative;
}

.landing-content h6 {
  font-size: 24px;
  font-weight: 500;
  color: #fcb747;
  margin-bottom: 18px;
}

.landing-content h2 {
  font-family: 'Obveron', 'Nunito', serif;
  font-size: 80px;
  line-height: 94px;
  font-weight: 300;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 45px;
}

.landing-content h2 span {
  color: #fc2c57;
}

.btn {
  font-size: 16px;
  padding: 11px 51px;
  border-radius: 45px;
  background: #fc2c57;
  border: 2px solid #fc2c57;
  color: #fff;
  text-decoration: none;
  margin: 0.8rem 0;
}

.btn:hover {
  box-shadow: 0px 10px 50px 0px rgba(195, 33, 52, 0.3);
}

.btn-two {
  padding: 11px 33px;
  border-color: #fba820;
  color: #fba820;
  background: transparent;
  margin: 0.8rem 0;
}

.btn-two:hover {
  background: #fd475d;
  color: #fff;
  border-color: #fd475d;
}

/* WORKSHOP SECTION */

.workshop-section {
  font-family: 'Nunito', sans-serif;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: white;
}

.workshop-title {
  text-align: center;
  margin: 2.4rem 0;
}

.workshop-title h2 {
  font-size: 40px;
  line-height: 55px;
  font-weight: 600;
  color: #2c2c51;
  margin-bottom: 2rem;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.workshop-title h2 span {
  display: block;
  font-weight: 300;
}

.workshop-img img {
  max-width: 100%;
  border-radius: 8px;
}

.workshop-content p {
  color: #7b7b93;
  font-size: 1rem;
  padding: 2.4rem 1.2rem 1.2rem 2rem;
  text-align: justify;
}

.workshop-about h2 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #2c2c51;
  padding: 2rem 0 0 2rem;
}

@media (max-width: 600px) {
  .workshop-content p {
    padding: 1rem;
  }
  .workshop-about h2 {
    padding: 1rem;
  }
}

.workshop-card {
  padding: 10px 12px;
}

@media (min-width: 950px) {
  .workshop-card {
    background-color: white;
    position: absolute;
    top: -225px;
    left: 75px;
    width: 80%;
    z-index: 100;
    border-radius: 6px;
    padding: 60px;
    background-color: white;
    box-shadow: 0px 40px 60px 0px rgba(92, 10, 20, 0.08);
  }
}

.workshop-info {
  padding: 10px;
  position: relative;
}

.workshop-info .tag {
  padding: 4px 10px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  background: #fd475d;
  text-decoration: none;
}

.workshop-info h3 {
  font-size: 34px;
  font-weight: 600;
  line-height: 44px;
  color: #2c2c51;
  margin: 2rem 0;
}

.workshop-info .date {
  font-size: 1rem;
  color: #fba820;
  margin-left: 30px;
  text-decoration: none;
}

.workshop-info .date-mob {
  margin: 2rem 0;
}

.workshop-info .btn {
  padding: 7px 37px;
}

.date-mob .date {
  margin-left: 10px;
}

.desc-content {
  padding: 1rem;
}

.desc-content h2 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #2c2c51;
  margin-bottom: 25px;
}

.desc-content p {
  font-size: 1rem;
  color: #7b7b93;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: justify;
}

.desc-content-desk {
  padding: 0rem 1.2rem 1.2rem 2rem;
}

.desc-content ul {
  margin-bottom: 0;
  border-top: 1px solid #ececf6;
  padding: 0.8rem 1.2rem;
}

.desc-content ul li {
  font-size: 16px;
  line-height: 28px;
  color: #7b7b93;
  font-weight: 400;
  position: relative;
  padding-left: 20px;
  margin-top: 20px;
  list-style: none;
}

.desc-content ul li span {
  font-weight: 500;
  color: #2c2c51;
}

.desc-content ul li:before {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #26da15;
  position: absolute;
  left: 0;
  top: 10px;
}
